body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
}

#map {
  height: 400px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
}
